@helper HelperName(string name)
    {
        // 您的協助程式可包含程式碼和/或標記，例如
        // var msg = "Hello " + name;
        // <p>@msg</p>
        // 如需詳細資訊，請瀏覽 https://go.microsoft.com/fwlink/?LinkID=204658
}

@helper ExternalAnchor(string href, string text)
{
        <a href="@href">@text</a>
}

@functions
{
    public string getHelloWorld()
    {
        return "Hello World";
    }
}
